body {
    background-color: #f7f2e7;
    margin: 0;
    border: 0;
    height: 918px;
}

main {
    width: 778px;
    height: 912px;
    border: solid #84704b 1px;
    border-bottom: solid #dfd2a6 5px;
    margin: auto;
    background-color: white;
}

table {
    padding: 0;
}

td {
    padding: inherit;
}

#up {
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#login {
    width: 359px;
    height: 220px;
    background: url(imgs/q.PNG);
    background-size: cover;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa {
    padding-top: 51px;
    width: 285px;
    height: 65px;
}

#inputs {
    display: flex;
    flex-direction: row;
}

.input-wrapper1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-wrapper2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    font-weight: 700;
    font-family: Verdana, sans-serif;
    font-size: 10px;
}

#login button {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    width: 50px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
    border: solid #b59e61 1px;
}

#login span {
    font-family: Verdana, sans-serif;
    font-size: 10px;
}

input {
    width: 102px;
    height: 12px;
    margin-right: 5px;
    padding: 0;
    border: solid #ae9e73 1px;
}

#info {
    width: 359px;
    height: 220px;
    background: url(imgs/loginaluno31.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    justify-content: center;
}

#adv {
    display: flex;
    width: 318px;
    height: 36px;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding-top: 51px;
    padding-left: 20px;
    text-align: justify;

}

#aboutme {
    display: flex;
    width: 359px;
    height: 220px;
    background: url(imgs/login2.gif);
    background-repeat: no-repeat;
    background-color: #f6efe6;
    border-radius: 5%;
    flex-direction: column;
}

#gambiarra {
    display: flex;
    width: 359px;
    height: 152px;
    justify-content: right;
    align-items: end;

}

#about {
    display: flex;
    width: 162px;
    height: 122px;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 10.5px;
    justify-content: center;
    text-align: justify;
    margin-right: 15px;
}

#rowgam {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.pub {
    display: flex;
    font-family: Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
}

#ur {
    margin-left: 5px;
    color: #796c40;
    text-decoration: none;
}

#icons {
    width: 359px;
    height: 220px;
    background: url(imgs/info.png);
    background-repeat: no-repeat;
    border-radius: 5%;
}

#tab {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    padding-left: 21px;
}

#tab img {
    padding-right: 21px;
}

#tab img:hover {
    cursor: pointer;
}

#erro {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding-left: 72px;
    font-weight: 700;

}

#right {
    width: 17px;
}

#mid {
    width: 17px;
}

#midder {
    height: 15px;
}

footer {
    width: 778px;
    height: 33px;
    border: solid #84704b 1px;
    border-top: dotted #84704b 1px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    align-items: center;
}

footer span {
    padding: 1px;
}